<% layout('layouts/boilerplate') %>
<section class=" mt-5 pt-5 d-flex justify-content-center flex-column ">
      <h1>Secrets Page</h1>
      <h2>You seeing this because you are logged in</h2>
      <form action="/logout" method="GET">
         <button class="btn-danger">Log Out</button>
      </form>
</section>
 
